.App {
  text-align: center;
}

@font-face {
  font-family: "Quiet Meows";
  src: url("/fonts/QuietMeows.woff2") format("woff2"),
    url("/fonts/QuietMeows.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "Quiet Meows";
  font-weight: normal;
  font-style: normal;
}
